@charset "UTF-8";
.main-content {
  position: relative;
}

.post {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 14px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.2);
  -mox-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.post hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #666;
  margin: 1.5em 0 !important;
}
.post blockquote {
  margin: .5em;
  border-left: 1px solid black;
  padding-left: .5em;
}
.post blockquote figure {
  margin-bottom: .5em;
}
.post figure p {
  line-height: 16px;
}

.content {
  padding-top: .5em;
}
.content a:hover {
  color: #666 !important;
}

.tmblr-attribution {
  margin-top: 1em;
  line-height: 16px;
}

.photo, .exif, .highres, .content, .photoset, .link, .video, .audio, .content-chat {
  margin-bottom: 0.5em;
}

.post-text header, .post-chat header {
  margin-bottom: 1em;
}
.post-text header h1, .post-text header h2, .post-text header h3, .post-text header h4, .post-text header h5, .post-text header h6, .post-chat header h1, .post-chat header h2, .post-chat header h3, .post-chat header h4, .post-chat header h5, .post-chat header h6 {
  margin: 0;
}

.content-chat {
  display: table;
  border-collapse: separate;
  border-spacing: 16px 4px;
}

.quote-icon {
  font-size: 46px;
  text-align: center;
  color: #666;
}

.blockquote {
  font-size: 18px;
  color: #666;
  padding-left: 8px;
  margin-bottom: 1em;
}

.quote-source:before {
  content: "—";
}

.audio-tag {
  display: table;
  width: 100%;
  margin-bottom: .5em;
}

.audio-player iframe {
  height: 100px;
}

.audio-art {
  width: 100px;
  height: 100px;
  position: relative;
}

.audio-art-missing {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  font-size: 80px;
  color: #aaa;
  text-align: center;
}

.audio-art-available {
  position: absolute;
  top: 0;
  z-index: 2;
  width: inherit;
}
.audio-art-available img {
  width: 100px;
  height: 100px;
}

.audio-id3 {
  padding-left: 1em;
}

.photo {
  text-align: center;
}

.link, .exif {
  padding: .5em;
  border: 1px solid #aaa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.link a:hover, .exif a:hover {
  color: black #666;
}

.video iframe {
  min-height: 120px;
}

.asker-portrait {
  width: 50px;
}
.asker-portrait img {
  width: 50px;
  -webkit-border-radius: 20em;
  -moz-border-radius: 20em;
  -ms-border-radius: 20em;
  border-radius: 20em;
}

.asker-data {
  padding-left: 1em;
}

.replies {
  padding-left: .5em;
  border-left: 1px solid #666;
}
