.highres {
  display: table;
  width: 100%;
  text-align: right;
}

.post-details {
  margin-top: 1em !important;
  padding-top: 1em;
  border-top: 1px solid #666;
}

.post-details a:link, .post-details a:visited, .post-details a:active, .exif a:link, .exif a:visited, .exif a:active, .highres a:link, .highres a:visited, .highres a:active {
  color: #666;
}
.post-details a:hover, .exif a:hover, .highres a:hover {
  color: black;
}
.post-details .cell, .post-details .cell-xs, .exif .cell, .exif .cell-xs, .highres .cell, .highres .cell-xs {
  min-width: auto;
  width: 20px;
  font-size: 18px;
  padding: 2px;
  padding-left: 0;
  color: #333;
}
.post-details .cell-text, .exif .cell-text, .highres .cell-text {
  width: auto;
  font-size: 14px;
}

.post-source, .post-submission {
  padding: 4px 0;
}

.post-source ul, .post-submission ul, .post-tags ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.post-source ul li, .post-submission ul li, .post-tags ul li {
  display: inline-block;
}

.post-tags ul li {
  margin-right: .5em;
}

.post-submission img {
  -webkit-border-radius: 20em;
  -moz-border-radius: 20em;
  -ms-border-radius: 20em;
  border-radius: 20em;
}

.post-share {
  text-align: right;
}
.post-share ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.post-share ul li {
  display: inline-block;
  padding: 12px;
}
.post-share .share-like iframe {
  max-width: 30px;
}

.post-notes ol {
  list-style-position: inside;
  padding: 0;
}
.post-notes ol li {
  margin-bottom: .5em;
}
