body, html {
  font-family:roboto, helvetica, arial, sans-serif;
	font-size:16px;
	word-wrap:normal;
  background-color: #E3E3E3;
  color:#2a2a2a;
}

a,a:active,a:focus,a:hover,a:link,a:visited{
	color:inherit;
	font-weight:inherit;
	text-decoration:none
}

abbr,acronym{
	border-bottom:1px dotted #000
}

address,cite,i,em{
	font-style:italic
}

b,strong,dl dt{
	font-weight:700
}

blockquote{
	border-left:2px solid;
	margin-bottom:1em;
	padding-left:1em
}

cite:after,q:after{
	content:'\201D'
}

cite:before,q:before{
	content:'\201C'
}

code,samp,kbd,command,var{
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
	background-color:#e2e2e2;
	border-radius:.3em;
	color:#000;
	font-family:'Fira mono', 'Courier New', Courier, monospace;
	font-size:85%;
	letter-spacing:.05em;
	padding:0 .5em
}

dl dd{
	padding-bottom:1em;
	padding-left:1em;
	margin:.5em
}

h1,h2{
	margin-bottom:.3em;
  font-size: 1.5em;
}

h3,h4,h5{
	margin-bottom:.3em;
  font-size: 1em;
}

hr{
	background-color:#D3D3D3;
	border:0;
	height:1px;
	margin:1em
}

iframe{
	max-width:100%;
	margin:0 auto
}

p{
	line-height:20px;
	margin-bottom:1em
}

pre{
	margin-bottom:1em;
	overflow-x:auto
}

section,.text-post,.sidebar-header,.sidebar-element{
	padding:1em
}

small{
	font-size:70%
}

sub{
	font-size:80%;
	vertical-align:sub
}

sup{
	font-size:80%;
	vertical-align:super
}

u{
	text-decoration:underline
}

.exif,.tags ul,.share-buttons ul,.post-notes ul,.pagination ul,.toolbar ul,.sidebar ul{
	border:0;
	list-style:none;
	margin:0;
	padding:0
}

.tnav {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index: 20;
  height: 30px;
  background-color: rgba(128,128,128,.4);
}

.top-section {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
  padding: 50px 20px 20px;
	z-index: 18;
}

.icon-sb, .main-header {
  display: table-cell;
}

.menu-button{
	cursor:pointer;
	height:32px;
	width:32px;
	z-index:inherit;
}

.menu-button:before{
	border-bottom:10px double;
	border-top:3px solid;
	content:"";
	height:4px;
	position:absolute;
  margin-top: 8px;
  margin-left: 4px;
	width:24px;
}

.main-header {
  padding-left: 20px;
  vertical-align: top;
}

.content-wrapper {
	position: relative;
  margin: 0 auto;
  padding: 1em .1em;
}

.post {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(153, 153, 153, 1);
  box-shadow: 0px 1px 2px 0px rgba(153, 153, 153, 1);
}

.answer,.replies{
	font-weight:300;
	padding:1em 0
}

.art{
	background-color:#e2e2e2;
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	height:200px;
	margin-right:1em;
	position:relative;
	width:200px
}

.art img{
	bottom:0;
	height:200px;
	left:0;
	position:absolute;
	right:0;
	top:0;
	width:200px;
	z-index:2;
	margin:0
}

.art:before{
	content:'\266c';
	display:block;
	font-family:georgia,serif;
	font-size:128px;
	height:200px;
	position:relative;
	text-align:center;
	width:200px
}

.avatar{
	-moz-border-radius:10em;
	-webkit-border-radius:10em;
	border-radius:10em
}

.caption{
	margin-bottom:1em;
	margin-top:1em
}

.caption,.content{
	word-wrap:break-word
}

.chat{
	margin-bottom:1em
}

.chat th{
	padding-right:1em;
	text-align:right
}

.exif{
	list-style:none;
	margin:1em 0;
	padding:0
}

.exif b{
	font-weight:500
}

.link{
	font-weight:300;
	margin-bottom:1em;
	text-align:center;
	padding:2em
}

.link h5, .link h6 {
	font-size: 1.5em;
}

.pagination{
	margin-bottom:3em;
	margin-top:6em;
	text-align:center
}

.pagination li{
	display:inline-block;
	margin:0 .5em
}

.permalink-icon{
	width:34px
}

.player{
	background-color:#E5E5E5;
	clear:both;
	margin:1em 0;
	padding:2em
}

.portrait{
	float:left;
	margin-right:2em;
	width:48px
}

.post header{
	font-weight:400
}

.question{
	background-color:#e2e2e2;
	font-weight:300;
	padding:1em
}

.quote{
	border:0;
	color:inherit;
	font-family:georgia,serif;
	font-size:20px;
	font-style:italic;
	padding-left:90px;
	position:relative
}

.quote cite{
	color:gray;
	display:block;
	font-style:normal;
	margin-top:.5em
}

.quote cite:after{
	display:none
}

.quote-post cite:before{
	content:"\2014"
}

.quote:before{
	content:'\201D';
	display:block;
	font-family:sans-serif;
	font-size:170px;
	left:-20px;
	position:absolute;
	top:-28px
}

.share-buttons{
	margin-top:1em;
	text-align:right
}

.share-buttons li{
	display:inline-block;
	margin:0 .2em
}

.tags li{
	display:inline;
	margin-right:.5em
}

.title-secondary,.id3{
	font-weight:300
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: white;
	z-index: 19;
	width: 300px;
}

.sidebar-avatar {
	width: 60px;
	margin-top: 30px;
	margin-bottom: 16px;
}
