		blockquote {
			border-color: {color:Accent};
		}
		
		.top-section {
			background-color: {color:Main};
			color: {color:Font Accent};
		}
		
		.menu-button:before {
			border-color:{color:Font Accent}
		}
		
		.quote:before {
			color: {color:Accent};
		}
		
		.link {
			background-color: {color:Accent};
		}
		
		.link a, .link a:active, .link a:focus, .link a:hover, .link a:link, .link a:visited {
			color: {color:Font Accent};
		}
		
		.art:before {
			 color: {color:Accent};
		}
		
		.sidebar-header {
			background-color:{color:Main}
			{block:ShowHeaderImage}
			background-image: url('{HeaderImage}');
			background-size: cover;
			 background-position: center;
			{/block:ShowHeaderImage}
		}
		/*MEDIAQUERIES*/
		@media all and (max-width: 564px) {
			.post {
				margin:2em .5em;
			}
			
			h1 {
				font-size: 2em;
			}
			
			h2 {
				font-size: 1.6em;
			}
			
			h3,h4,h5,h6 {
				font-size: 1.2em;
			}
		}