.audio-tag {
    margin-bottom: .5em;
}
.audio-player {
    iframe {
        height: 100px;
    }
}
.audio-art {
	width: 100px;
    height: 100px;
    position: relative;
}
.audio-art-missing {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    font-size: 80px;
    color: #aaa;
    text-align: center;
}
.audio-art-available {
    position: absolute;
    top:0;
    z-index: 2;
    width: inherit;

    img {
        width: 100px;
        height: 100px;
    }
}

.audio-id3 {
	padding-left: 1em;
}
