// Common rules
.clickable, .close-sidebar {
    cursor: pointer;
}

.icon {
    width: 48px;
    vertical-align: top !important;

    i {
        padding: 12px;
        font-size: 24px;
    }
}

.cell {
    display: table-cell;
    vertical-align: middle;
    min-width: 48px;
    word-wrap: break-word;
}

//Container
.container {
    margin: 0 auto;
}
@media all and (max-width: 320px) {
	.container {
		margin: 0 .5em;
	}
}
@media all and (max-width: 480px) {
	.container {
		margin: 0 1em;
	}
}
@media all and (min-width: 480px) {
	.container {
		margin: 0 1.5em;
	}
}
@media all and (min-width: 768px) {
	.container {
		margin: 0 2.5em;
	}
}
@media all and (min-width: 992px) {
	.container {
		margin: 0 auto;
		max-width: 80%;
	}
}
@media all and (min-width: 1280px) {
	.container {
		max-width: 950px;
	}
}