.post-details {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #AAA;
}

.post-source, .post-submission, .post-tags {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
        }
    }
}

.post-tags {
    ul {
        li {
            margin-right: .5em;
        }
    }
}

.post-share {
    text-align: right;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            display: inline-block;
            padding: 12px;
        }
    }

    .share-like {
        iframe {
            max-width: 30px;
        }
    }
}

.post-submission {
    img {
        @include borderRadius(20em);
    }
}

.post-notes {
    border-top: 1px solid #AAA;

    h3 {
    	margin: 1em;
    }

    ol {
        list-style-position: inside;
        padding: 0;

        li {
            margin-bottom: .5em;
        }
    }
}
