.link {
	padding: 1em .5em !important;
}

.link, .exif, .answer {
	padding: .5em;
	border: 1px solid #aaa;
    @include borderRadius(2px);

	a:hover {
        color: black #666;
    }
}

.asker-portrait {
    width: 48px;
}

.asker-data {
    padding-left: 1em;
}
