.post-text, .post-chat {
    header {
        margin-bottom: 1em;

        h1, h2, h3, h4, h5, h6 {
            font-size: 24px;
            margin: 0
        }
    }
}

.content-chat {
    display: table;
    border-collapse: separate;
    border-spacing: 16px 4px;
}
