// Article

.post {
    background-color: #fff;
    padding: 1em;
    
    @include boxShadow(1px 1px 2px 0px rgba(50, 50, 50, 0.2));
    @include borderRadius(2px);
}

.post-text {   
    header {
        margin-bottom: 1em;
    }
}