// Common rules
.clickable, .close-sidebar {
    cursor: pointer;
}

.icon {
    width: 48px;
    vertical-align: top !important;

    i {
        padding: 12px;
        font-size: 24px;
    }
}

.row {
	display: table-row;
	width: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    min-width: 48px;
    word-wrap: break-word;
}

.cell-next-icon-left {
	  padding-left: 20px;
}

.cell-next-icon-right {
	  padding-right: 20px;
}

//Container
.container {
    margin: 0 auto;
    max-width: 532px;
}
@media all and (max-width: 548px) {
    .container {
        margin: 0 .5em;
    }
}
