// Navbar

#main-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2998;
    padding-top: 27px;
    
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 24px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        ul {
            li {
                display: inline-block;
            }
        }
    }
}

.navbar-wrapper {
    position: relative;
}

.navbar-module {
    height: 42px;
    line-height: 42px;
    margin: 8px 0;
}

#nb-search-module {
    display: none;
    top: 0;
    right: 1em;
    left: 1em;
    
    text-align: right;
    
    input {
        padding: 0 8px !important;
        margin: 0 !important;
        text-align: right;
        height: 100%;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid white;
    }
}

@media all and (max-width: 360px) {
    #main-navbar {
        h1 {
            font-size: 24px;
        }
        
        h2 {
            font-size: 18px;
        }
    }
    
    #toggle-sidebar {
        margin-right: .5em;
    }
}