// Search

#toolbar-search {
    display: none;
    
    .cell-next-icon-right {
        text-align: right;
    }
    
    input {
        padding: 0 8px !important;
        margin: 0 !important;
        text-align: right;
        height: 100%;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid white;
        font-size: 18px;
    }
}
