// Sidenav

.sidenav {
    background-color: white;
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: -320px;
    z-index: 3000;
    width: 320px;
    color: #212121;
    
    hr {
        border: 0;
        width: 100%;
        height: 1px;
        background-color: #aaa;
    }
}

.sidenav-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.sidenav-header {
    /* if sidenav title-text-color */
    color: white;
    .opacity {
        background: rgba(0,0,0,0.2);
    }
    
    background-image: url('../pictures/fuji.png');
    background-size: cover;
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
}

.sidenav-avatar {
    padding-top: 54px !important;
    padding: 16px;
    
    img {
        @include borderRadius(20em);
    }
}

.sidenav-title {
    padding: 8px 16px;
    padding-bottom: 16px !important;
}

.sidenav-nav {
    padding: 4px;
    
    .sidenav-link {
        padding-right: 12px
    }
    
    .clickable:hover {
        background-color: #d3d3d3;
    }
    
    .row {
        margin-bottom: 4px;
    }
}

.sidenav-nav-header {
    padding-top: 0px !important;
    padding: 16px;
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 16px;
        color: #474747;
        padding: 0;
        margin: 0;
    }
}

.sidenav-link {
    padding-left: 20px;
}

[data-simplersidebar="active"] {
    @include boxShadow(2px 0px 5px 0px rgba(50, 50, 50, 0.5));
}