// Article

@import '../mixins';

.main-content {
    position: relative;
}

.post {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 14px;

    @include boxShadow(1px 1px 2px 0px rgba(50, 50, 50, 0.2));
    @include borderRadius(2px);

    hr {
    	border: 0;
    	height: 1px;
    	width: 100%;
    	background-color: #666;
    	margin: 1.5em 0 !important;
    }
}

.content {
    margin-top: 1em;
}

//TEXT-CHAT
.post-text, .post-chat {
    header {
        margin-bottom: 1em;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
    }
}

.content-chat {
    display: table;
    border-collapse: separate;
    border-spacing: 16px 4px;
}
//TEXT-CHAT

//AUDIO
.audio-tag {
    display: table;
    width: 100%;
    margin-bottom: .5em;
}
.audio-player {
    iframe {
        height: 100px;
    }
}
.audio-art {
	width: 200px;
}
.audio-id3 {
	padding-left: 1em;
}
//AUDIO

//PHOTO
.photo {
    text-align: center;
}
//PHOTO

//NOTES
.exif, .highres, .post-date, .submitter,
.post-source, .post-tags, .post-notes, .post-permalink {
    margin-top: 1em;
}

.post-tags {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
            display: inline-block;
             margin-right: .5em;
		}
	}
}

.post-date, .post-tags, .post-source, .post-permalink {
    a {
        &:link, &:visited, &:active {
            color: #666;
        }
        &:hover {
            color: black;
        }
    }
}

.post-permalink {
    .cell {
        min-width: inherit;
    }
}

.post-share {
    text-align: right;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            display: inline-block;
            padding: 12px;
        }
    }

    .share-like {
        iframe {
            max-width: 30px;
        }
    }
}


.post-notes {
    ol {
        list-style-position: inside;
        padding: 0;

        li {
            margin-bottom: .5em;
        }
    }
}
