// Article

@import '../mixins';

.main-content {
    position: relative;
}

.post {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 14px;

    @include boxShadow(1px 1px 2px 0px rgba(50, 50, 50, 0.2));
    @include borderRadius(2px);

    hr {
    	border: 0;
    	height: 1px;
    	width: 100%;
    	background-color: #666;
    	margin: 1.5em 0 !important;
    }

    blockquote {
        margin: .5em;
        border-left: 1px solid black;
        padding-left: .5em;

        figure {
            margin-bottom: .5em;
        }
    }

    figure {
        p {
            line-height: 16px;
        }
    }
}

.content {
    padding-top: .5em;

    a:hover{
        color: #666 !important;
    }
}

.tmblr-attribution {
    margin-top: 1em;
    line-height: 16px;
}

.photo, .exif, .highres, .content, .photoset, .link, .video, .audio, .content-chat {
    margin-bottom: .5em
}

//TEXT-CHAT
.post-text, .post-chat {
    header {
        margin-bottom: 1em;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
    }
}

.content-chat {
    display: table;
    border-collapse: separate;
    border-spacing: 16px 4px;
}
//TEXT-CHAT

.audio-tag {
    display: table;
    width: 100%;
    margin-bottom: .5em;
}
.audio-player {
    iframe {
        height: 100px;
    }
}
.audio-art {
	width: 100px;
    height: 100px;
    position: relative;
}
.audio-art-missing {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    font-size: 80px;
    color: #aaa;
    text-align: center;
}
.audio-art-available {
    position: absolute;
    top:0;
    z-index: 2;
    width: inherit;

    img {
        width: 100px;
        height: 100px;
    }
}

.audio-id3 {
	padding-left: 1em;
}
//AUDIO

//PHOTO
.photo {
    text-align: center;
}
//PHOTO

//LINK
.link, .exif {
	padding: .5em;
	border: 1px solid #aaa;
    @include borderRadius(2px);

	a:hover {
        color: black #666;
    }
}
//LINK

//VIDEO
.video {
    iframe {
        min-height:120px;
    }
}
